{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <div class="container text-center">
        <h1 class="" style="margin-top: 1rem;">Race stats</h1>
        <iframe title="prueba_general" width="1280" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiYTZkODY4YjUtZmE5ZS00YWQwLTg3NTAtNmMwMzNmZDIwOWYwIiwidCI6ImVmNGE2ODRlLTgxYjUtNDkxYy1hOThlLWM3YjMxYmU2YzQ2OSIsImMiOjh9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
{% endblock %}